html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f5f5f5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; 
  background-color: #127de7;
  color: white;
}

.navbar-main {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-child ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-child {
  margin-left: auto;
  margin-right: 20px;
}

.navbar-list-item{
  
  padding: 10px 15px;
  font-weight: bold;
}

@media (max-width: 1280){
  .navbar-child li {
    margin-right: 20px;
  }

  .navbar-list-item{
    color: inherit;
    text-align: left;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
  }
}

.navbar-child li a {
  display: block;
  color: inherit; 
  text-align: center;
  text-decoration: none;
  padding: 10px 15px;
  font-weight: bold; 
}

.navbar-child li a:hover {
  background-color: #f1f1f1;
  color: #127de7;
  border-radius: 25px;
}

#navbar-title-main {
  font-size: 1.2em; 
}


footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #127de7;
  color: white;
  text-align: center; 
}

#footer-text-main li {
  margin-bottom: 5px;
  list-style-type: none;
}